//define the breakpoint
$desktop: 1200px;
$large-tablet: 992px;
$tablet: 768px;
$mobile: 480px;

$primary-color: #ffffff;
$main-text-color: #888888;
$label-bg-color: #ff2d15;
$btn-border-color: #00ff00;

$bold-color: #000000;